@font-face {
    font-family: 'Albas';
    src: local(Albas);
    src: url('https://res.cloudinary.com/richy-jones/raw/upload/v1585944829/Albas.ttf') format('truetype');
}

body {
    background: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}